apiVersion: v1
kind: Namespace
metadata:
  name: nfs-system
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nfs
  namespace: nfs-system
spec:
  chart: nfs-subdir-external-provisioner
  repo: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
  targetNamespace: nfs-system
  set:
    nfs.server: {{ nfs_sever }}
    nfs.path: {{ nfs_path }}
    storageClass.name: nfs